*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  object-fit: fill;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.title {
  font-size: 75px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content {
  display: flex;
  justify-content: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  height: 300px;
  overflow-y: scroll;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  width: 390px;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 196px;
}

.content__video-card-title {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: white;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: fill;
  object-position: center;
}

.content__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
